{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<html>
<nav>
    <ul>
        <h1>Cameron's Portfolio</h1>
        <li><a href="/home/">Home</a></li>
        <li><a href="/work/">Work</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</nav>
<body>
<h1>About Me:</h1>

<h3> Here's a little bit about me!</h3>
<h2>I am originally from Dyer, Tennesse a small town in Gibson County. It is about 45 minutes north of Jackson, Tennessee and its a nice little small town.
    I have a lot of experience with computers growing up, and I always excelled with numbers, which led me to pick this career to begin with. Here are some of my accolates at this point in my career.
    I grew up with my Mom and Dad, and I lived in that small town until I started my college. I began at the University of Tennessee,Knoxville after high school, but I ended up transferring to the University of Memphis due to the distance and financial burden required to attend Knoxville.
    I have excelled in the degree, with most of my major classes resulting in A's or B's. However, this is not very representative in my GPA, since i switched my major twice before deciding Computer Science was the degree for me.
    Below are some of the accolades I have at this point in my career:
</h2>

<ul>
    <li>Score of 29 on my ACT</li>
    <li>Top ten within my class in High School(4.1 weighted GPA)</li>
    <li>Maintained above a 3.0 throughout college while working a job and supporting myself.</li>
    <li>Actively pursuing a degree in Computer Science from the University of Memphis</li>
    <li>I am a percussionist, mainly focused on marching band, and have taught my former high school during the summer.</li>
</ul>
</body>
<footer>
    <h2>Cameron's Portfolio 2024</h2>
</footer>
</html>