{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<nav>
    <ul>
        <li><a href="/home/">Home</a></li>
        <li><a href="/work/">Work</a></li>
        <li><a href="/about/">About</a></li>
    </ul>
</nav>
<body>
    <h1>Contact Me:</h1>
    <h2>You can reach me anytime, just shoot me a message and I will get in touch!</h2>
    <h3>Email: Cameronacox0904@gmail.com</h3>
    <h3>Phone: 731-487-8827</h3>
    <h3>GitHub: Cameron0904</h3>
</body>

<footer>
    <h2>Cameron's Portfolio 2024</h2>
</footer>
