{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <h1>Cameron's Portfolio</h1>
            <li><a href="/about/">About</a></li>
            <li><a href="/work/">Work</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
    <h1>Cameron Cox's Portfolio</h1>
    <h2>Hi, welcome to my portfolio page! I am a young developer who is in the process of receiving my degree in Computer Science. I have done a lot of different websites, and I am constantly learning more as I continue within the field. I am very passionate about the profession, and I hope to learn more and more as the years continue!</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
<footer>
    <h2>Cameron's Portfolio 2024</h2>
</footer>

</html>
